{% extends 'template.html.twig' %}

{% block left %}
    <h1><a href='/stores'>View all stores</a></h1>
{% endblock %}

{% block right %}
    <h1><a href='/brands'>View all brands</a></h1>
{% endblock %}
