<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Portland Shoe Stores</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Portland Shoe Stores<h1>
            </div><br>
            <h3><a href='/stores'>View all stores</a></h3>
            <h3><a href='/brands'>View all brands</a></h3>
        </div>
    </body>
</html>
