{% extends 'template.html.twig' %}

{% block left %}
    <h1>Stores</h1>

    {% if stores is not empty %}
        <h4>Click the store to view brands carried or edit store info</h4><br>

        {% for store in stores %}
            <h5><a href='/stores/{{ store.getId }}'>
                {{ store.getName }}</a><h5>
        {% endfor %}
        <br><br>

        <form action='/stores' method='post'>
            <input name='_method' value='delete' hidden>

            <button type='submit' class='btn btn-danger'>Delete All Stores</button>
        </form>
    {% else %}
        <h5>No stores entered yet! Please help us out by entering stores -></h5>
    {% endif %}
{% endblock %}

{% block right %}
    <br>
    <h4>Add a new store</h4><br>

    <form action='/stores' method='post'>
        <div class='form-group'>
            <input required type='text' name='store_name' class='form-control'
                placeholder='Enter store name eg. Road Runner Sports'>
        </div><br>

        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
{% endblock %}
